* {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: $main-black;
  // comment
  p {
    font-size: 12px;
  }
  // title
  h3 {
    font-size: 20px;
  }
  // subtitle
  h2 {
    @include font-bold(30px);
  }
  // main-title
  h1 {
    @include font-bold(45px);
  }
}
