.form {
  width: 50%;
  border: 1px;
  #error_explanation {
    padding: 10px;
    width: 70%;
    margin: 20px auto;
    border: 2px solid;
    border-color: $alart-color;
    h3 {
      margin-bottom: 10px;
      text-decoration: underline;
      text-decoration-color: $alart-color;


    }
    ul {
      font-size: 12px;
      list-style: inside;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .field {
    padding-bottom: 10px;
    label {
      display: block;
      margin-bottom: 3px;
    }
    select {
      width: 100%;
      max-width: 380px;
      height: 38px;
      font-size: 14px;
      padding: 0 5px;
      margin-bottom: 8px;
    }
    textarea {
      width: 100%;
      max-width: 380px;
      resize: vertical;
      height: 160px;
    }
  }
  .actions {
    .button {
      @include buttons(38px);
    }
  }
}