.add-icons {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  .add-item{
    margin: 0 10px;
    text-align: center;
    &__text{
      margin-bottom: 5px;
      font-size: 12px;
    }
    &__icon{
      .plus-icon {
        background: transparent;
        text-align: center;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;
        &:hover {
          box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
        }
      }
    }
  }
}