.header {
  width: 100vw;
  min-width: 680px;
  height: 100%;
  align-items: center;
  top: 0;
  margin-bottom: 20px;
  .top-header{
    &__brand{
      margin: 15px;
      font-size: 40px;
      display: block;
      text-align: center;
      text-decoration: none;
    }
    &__bottom{
      border-bottom: 5px solid;
      border-radius: 30px;
      margin: 0 25px;
    }
  }
  .bottom-header {
    padding: 5px 0;
    line-height: 34px;
    text-align: center;
    .nav-bar {
      margin: 0 auto;
      min-width: 300px;
      max-width: 700px;
      padding: 0 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        text-align: center;
        li {
          margin: 0 8px 0 8px;
          .link-btn {
            @include buttons(34px);
          }
        }
      }
      &__search-box {
        display: flex;
        line-height: 30px;
        align-items: center;
        .input-box {
          max-width: 380px;
          height: 30px;
          font-size: 14px;
          padding: 0 5px;
        }
        .button {
          @include buttons(34px);
        }
      }
      &__user-menu {
        display: flex;
      }
    }
    &__bottom {
      border-top: 5px solid;
      border-radius: 30px;
      margin: 0 25px;
    }
  }
}