%h2.items-counts
  Total #{items.count}
.item-index
  - items.each do |item|
    .item
      = link_to item do
        .link-btn Show
        = image_tag item.image.variant(combine_options:{resize: "200x200", crop: "200x200", gravity: :center}).processed