.wrapper
  .items
    - if @tag.present?
      %h2 #{@tag}一覧
    - elsif @unfav.present?
      %h2 いじけ服一覧
    - elsif @items.present?
      %h2 アイテム一覧
    - else
      %h2 お気に入り一覧
    
    = render 'items', items: @unfav || @items || @fav
