.wrapper
  %h2 アイテム一覧
  .item-index
    - @items.each do |item|
      .item
        = link_to 'Show', item, class: "link-btn"
        = image_tag item.image.variant(combine_options:{resize: "200x200", crop: "200x200", gravity: :center}).processed
