.wrapper {
  width: 100vw;
  padding-top: 40px;
  .form {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border: 1px;
    &__new-user {
      margin: 15px 0 20px 0;
      .field {
        padding-bottom: 10px;
        input {
          width: 100%;
          max-width: 380px;
          height: 38px;
          font-size: 14px;
          padding: 0 5px;
        }
      }
      .actions {
        .button {
          height: 38px;
          width: 80px;
          background-color: #ffffff;
          
        }
      }
    }
  }
}