* {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #414141;
  p {
    font-size: 12px;
  }

  h2 {
    font-size: 18px;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
}
